<tmpl_loop name=pwdlines>
 <div style="font-size: 10px; float: left; width: 45%;">
  <dl>
  <dt>Usuario: <b><tmpl_var name=user></b></dt>
  <dd>Password: <b><tmpl_var name=pass></b></dd>
  <dd>UID: <b><tmpl_var name=uid></b></dd>
  <dd>GID: <b><tmpl_var name=gid></b></dd>
  <dd>Descripci&oacute;n: <b><tmpl_var name=desc></b></dd>
  <dd>Directorio home: <b><tmpl_var name=home></b></dd>
  <dd>Shell: <b><tmpl_var name=shell></b></dd>
 </div>
</tmpl_loop>
